<h1><%= @cocktail.name  %></h1>

<div class="cocktail-show-card">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= image_tag "cocktails/#{@cocktail.image}", class: "w-100"%>
    </div>
    <div class="col-xs-12 col-md-8 d-flex flex-column justify-content-between p-5">
      <h2><%= @cocktail.name %></h2>
      <p>Rating: ⭐⭐⭐⭐⭐</p>
      <p>Description</p>
    </div>
  </div>
</div>