.cocktail-show-card  {
  background-color: $light-gray;
  display:flex;
  margin: 20px 0;
  height: 420px;

  p {
    font-size: 24px;
    color: black;
  }
  h2 {
    font-size: 45px;
  }
  
  .potion-img {
    background-size: cover;
    background-position: center;
    width: 30%;
    margin-right: 20px;
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  .btn {
    font-size: 27px;
  }
}

.ingredients-container {
  background-color: white;
  color: black;

  ul {
    margin-top: 40px;
    font-size: 20px;
  }
}
