.cocktail-show-card  {
  background-color: $light-gray;
  display:flex;
  margin: 20px 0;

  @media (min-width: 0px) {
    height: 650px;
  }

  @media (min-width: 768px) {
    height: 400px;
  }

  p {
    font-size: 24px;
    color: black;
  }
  h2 {
    font-size: 45px;
  }
  
  .potion-img {
    background-size: cover;
    background-position: center;
    @media (min-width: 0px) {
      min-height: 250px;
      height: 100%;
    }

    @media (min-width: 768px) {
      height: 100%;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .btn {
    font-size: 27px;
  }
}

.cocktail-description {
  @media (min-width: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (mix-width: 768px) {
    justify-content: space-evenly;
  }
}

.ingredients-container {
  background-color: white;
  color: black;

  ul {
    margin-top: 40px;
    font-size: 20px;
  }
}
