@media (min-width: 100px) {
  .cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  #smoke {
    display:none;
    z-index: -1;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 500px;
  }
}

@media (min-width: 720px) {
  .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

}

@media (min-width: 1000px) {
  .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }
  #smoke {
    display:block;
  }
}